name: Tests

on:
  # Запуск при push (отправке коммитов) в репозиторий
  push:
    branches:
      - main # Запускать при push в ветку main
      - master # Запускать при push в ветку master
  # Запуск при создании или обновлении Pull Request
  pull_request:
    branches:
      - main # Запускать для PR, направленных в main
      - master # Запускать для PR, направленных в master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.23"

      - name: Run tests
        run: make test
